@import url('https://fonts.googleapis.com/css2?family=Prata&display=swap');
.navbar_main{
    position: fixed;
    top: 0px;
    height: 65px;
    width: 100%;
    color: white;
    font-size: larger;
    z-index: 50;
}

.create_post_head{
    font-family: 'Courier New', Courier, monospace;
    font-size: 30px;
    margin-top: 10px;
}
.createpost_form{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #252930;
    width: 60%;
    margin: auto;
    padding: 3% 2%;
    gap: 20px;
}
.createpost_label{
    color: white;
    align-self: left;
    font-size: 20px;
}
.createpost_title{
    width: 100%;
    height: 40px;
    padding-left: 10px;
    border-radius: 20px;
}
.createpost_description{
    width: 100%;
    padding: 0 10px;
    border-radius: 20px;
}
.createpost_img{
    width: 100%;
    height: 100px;
    background-color: white;
    border: dashed 3px gray;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.createpost_submit{
    height: 40px;
    color: white;
    background-color: green;
    width: 20%;
    margin-top: 10px;
}
.gallary_name{
    font-family: 'Prata', serif;
    margin: auto 0;
    padding-left: 20px;
    padding-right: 20px;
    padding: 10px;
}
.nav_span{
    font-family: 'Prata', serif;
    margin: auto 10px;
}
.nav_span_1{
    width: 100%;
}
.nav_mobileview{
    display: none;
}
.nav_dropdown{
    position: fixed;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    flex-direction: column;
    top: 65px;
    right: 0;
    background-color: white;
    height: 150px;
    width: 200px;
    justify-content: space-evenly;
    column-gap: 0;
}

.auth_template{
    background-color: #efefef;
}

.error_msg{
    color: red;
}
.auth_template h1{
    font-family:  'Prata', serif;
    font-size: 50px;
    padding-top: 5%;
}

.auth_template h2{
    font-family:  'Courier New', Courier, monospace;
    font-size: 40px;
}
.auth_btn{
    background-color: #efefef;
    color: #252930;
    height: 40px;
    width: 200px;
    margin-top: 20px;

}
.auth_input{
    width: 320px;
    margin: 10px auto;
    height: 40px;
    padding-left: 5px;
}
.auth_template_card{
    background-color: #252930;
    border-radius: 30px;
    margin: auto;
    margin-top: 20px;
    padding: 0 30px;
    width: 400px;
    padding-bottom: 40px;
}


@media screen and (max-width:650px) {
    .nav_mobileview{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .nav_laptopview{
        display: none;
    }
    .createpost_form{
        width: 80%;
    }
}

