@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@400&family=Poppins:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Prata&display=swap');
.postcard_main{
    display: flex;
    background-color: #efefef;
    width: 80%;
    flex-direction: column;
    border: 1px solid gray;
    margin: 60px auto;
    overflow: hidden;
}
.postcard_title{
    background-color: white;
    font-family: 'Prata', serif;
    padding: 10px;

}
.postcard_title_main{
    font-size: 30px;
    text-align: center;
}
.user_section{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 10px;
}
.avatar_img{
    height: 40px;
    margin-bottom: 5px;
}
.postcard_img{
    width: 100%;
    margin: auto;
}

.postcard_right{
    overflow-x: hidden;
    /* height: 100%; */
    position: relative;
}
.postcard_input{
    z-index: 1;
    bottom: 0;
    background-color: #efefef;
    height: 45px;
    margin-right: 15px;
    width: 100%;
    /* position: absolute; */
}
.postcard_actual_input{
    background-color: #efefef;
    height: 100%;
    margin-left: 10px;
    width: 80%;
    z-index: 100;

}
.postcard_actual_input:focus{
    outline: none;
}
.postcard_content{
    margin-left: 10px;
    overflow-y: scroll;
    max-height: 300px;
}
.postcard_btn{
    color: #0088fe;
    font-weight: 500;
    text-align: center;
    width: 15%;
    z-index: 2;
}
.postcard_second_sec{
    display: grid;
    grid-template-columns: 1.4fr 1fr;
    overflow: hidden;
}
.comment_box{
    display: grid;
    grid-template-columns:1fr 5fr;
    gap: 10px;
}
.comment_box_avatar{
    height: 20px;
}


@media screen and (max-width:800px) {
    .postcard_second_sec{
        grid-template-columns: 1fr;
        height: auto;
    }
    .postcard_content{
        height: 200px;
        overflow-y: scroll;
    }
}

@media screen and (max-width:500px) {
    .postcard_title_main{
        font-size: 20px;
    }

    .user_section{
        font-size: 10px;
    }
}